@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* pour enlever le gros/gras des cases du formulaire qaund on clique */
    outline: none;
}
h1, h2{
    font-size: 1.3rem;
    font-weight: 700;
}
h3{
    font-size: 0.8rem;
    font-weight: 700;
}
h4{
    font-size: 1rem;
    font-weight: 700;
}
p{
    font-size: 0.7rem;
    margin: 5px 0;
}
a,
a:visited{
    color: black;
    text-decoration: none;
}
button{
    border: 1px solid #0065FC;
    color: white;
    background: #0065FC;
    border-radius: 0px 12px 12px 0px;
    padding: 10px;
    display: inline-block
    cursor: pointer;
    font: 500 0.9rem "Raleway";
    
}



/* *************************************************************** */

body{
    font-family: "Raleway", sans-serif;
}
header {
    display
}

