@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* pour enlever le gros/gras des cases du formulaire qaund on clique */
    outline: none;
}
h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.2rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
p{
    font-size: 0.9rem;
    margin: 10px 0;
}
a,
a:visited {
    color: black;
    text-decoration: none;
}
button {
    border: 1px solid #0065FC;
    color: white;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    display: inline-block;
    font: 500 0.9rem "Raleway";
    height: 50px;
}

button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-animation: flash 3s;
    animation: flash 1.2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
.cartes {
    transition: transform .1s;
}
.cartes:hover {
    transform: scale(1.1);
}

/* *************************************************************** */
body {
    font-family: "Raleway", sans-serif;
}
.header {
    grid-area: header;
}
.trouver-hebergement {
    grid-area: trouver-hebergement;
}
.hebergements-a-marseillle {
    grid-area: hebergements-a-marseillle;
}
.populaires {
    grid-area: populaires;
}
.activités-a-marseille {
    grid-area: activités-a-marseille;
}
.footer {
    grid-area: footer;
}
.structure {
    display: grid;
    margin: auto;
    max-height: 100vh;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3.5em;
    grid-template-areas: 
        "header                         header"              
        "trouver-hebergement            trouver-hebergement"                
        "hebergements-a-marseillle      populaires"              
        "activités-a-marseille          activités-a-marseille"
        "footer                         footer";
  }
header {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
    height: 101px;
    margin: 0 40px;
    grid-template-areas: "logo . nav inscription";
}
.logo {
    display: flex;
    height: 40px;
    width: auto;
    grid-column: 1;
    grid-row: 1;
}
.nav {
    display: flex;
    justify-content: flex-end;
    grid-column: 3;
}
.nav li {
    display: inline-flex;
}
.hébergements {
    display: inline-flex;
    align-items: center;
    margin-right: 70px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 100px;
}
.activités {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 100px;
}
.activités:hover{
    border-top: 2px solid #0065FC;
    line-height: 100px;
    color: #0065FC;
}
.hébergements:hover{
    border-top: 2px solid #0065FC;
    line-height: 100px;
    color: #0065FC;
}
.inscription {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 100px;
    color: #0065FC !important;
    grid-column: 4;
}
/******************* trouver-hebergement **********************/

.trouver-hebergement {
    margin: 0 40px;
    height: 250px;
}
.form {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    line-height: 2;
 
}
.icon-map a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border: 1px solid  #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
}

.label {
    display: none;
}
.recherche {
    border: 1px solid ;
    color: white;
    background: white;
    padding: 10px;
    font: 900 1rem "Raleway";
    width: 230px;
    height: 50px;
}
.filtres {
    display: flex;
    margin-top: 30px;
    
}
.titrefiltres {
    display: flex;
    align-items: center;
    font: 800 0.90rem "Raleway";
}
.buttonsearch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin-left: 40px;
    cursor: pointer;
}
.buttonsearch:hover {
    background: #DEEBFF;
    transition: 0.3s;
}
.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEEBFF;
    color: #0065FC;
    border: 1px solid  #DEEBFF;
    border-radius: 300px;
    width: 53px;
    height: 53px;
}
.texte-filtres {
    display: flex;
    font: 900 1.2rem "Raleway";
    margin: 10px 20px;
}
.footer-trouver-hebergement {
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.icon-i {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #0065FC;
    border: 1px solid  #DEEBFF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
.texte-info {
    margin-left: 10px;
}
/*************************** hebergements-a-marseillle ******************************/
.hebergements-a-marseillle {
    display: grid;
    background-color: #F2F2F2;
    margin: 0 0 0 40px;
    border-radius: 20px;
    height: 800px;
}
.grid-hebergements-a-marseillle {
    display: grid;
    grid-template-columns: repeat(3,390px);
    grid-row: auto;
    gap: 2em;
    justify-content: center;
}
#Hébergements {
    margin: 30px 0px 30px 30px;
    font-weight: 900;
}
.carte1 {
    width: 100%;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: white;
    justify-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-cartes {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 4px 4px 10px 4px;
    aspect-ratio: 2/1;
}
.text-card {
    margin: 0 20px;
    line-height: 15px;
}
.text-card > ul {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    color: #0065FC;
    letter-spacing: 1px;
}
.footer-hebergements-a-marseillle {
    margin: 55px 30px;
    font-weight: bold;
    font-size: 1.1em;
}
/********************************** Les plus populaires **********************************/
.populaires {
    height: 800px;
    margin: 0 40px 0 0;
    border-radius: 20px;
    background: #F2F2F2;
}
.container1 {
    display: grid;
    gap: 2em;
    margin: 0 30px;
}
.title-populaires {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}
.carte2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 10%);
}
.img-cartes-pop {
    float: left;
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px 4px 4px 4px;
    aspect-ratio: 5/6;
}
.text-populaires {
    display: grid;
    grid-template-rows: repeat(4, 46%);
    margin: 20px;
    padding: 0 0 0 20px;
}
.text-populaires > ul {
    display: flex;
    font-size: 0.75rem;
    grid-row: 4 / 4;
    align-items: center;
    letter-spacing: 1px;
    color: #0065FC;
}
/****************************** Activités à Marseille **************************************/
.activités-a-marseille {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: 0 40px;
}
#Activités {
    margin: 30px 0;
}
.activité-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 3em;
}
.carte3 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    grid-column: 1;
    grid-row: 1 / 4;
}
.carte3-2 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    grid-column: 3;
    grid-row: 1 / 4;
}
.img-carte3 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 6/8;
}
.carte4 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    grid-column: 2;
    grid-row: 1 / 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte4 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 12/8;
}
.carte5 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    grid-column: 2;
    grid-row: 3 / 4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

}
.img-carte5 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 15/7;
}
.carte6 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    grid-column: 4;
    grid-row: 1 / 2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte6 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 2/1;
}
.carte6-2 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    grid-column: 4;
    grid-row: 2 / 4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte6-2 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 11/7;
}
.title-activités {
    margin: 10px 0 0 15px;
}
 /************************** FOOTER *****************************/
footer {
    display: flex;
    width: auto;
    height: 200px;
    background-color: #F2F2F2;
}
.container2 {
    display: flex;
    width: 1440px;
    height: auto;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    margin-left: 40px;
    line-height: 30px;
}  
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    line-height: 30px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    line-height: 30px;
}   

@media screen and (max-width: 1850px) {
    .structure {
        grid-template-columns: 70% 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header                         header"              
        "trouver-hebergement            trouver-hebergement"
        "populaires                     populaires"                
        "hebergements-a-marseillle      hebergements-a-marseillle"              
        "activités-a-marseille          activités-a-marseille"
        "footer                         footer";
    }
    .populaires {
        height: 383px;
        margin: 0 40px;
    }
    .title-populaires {
        grid-column: 1 / 4;
    }

    .container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: 2 fr;
        grid-auto-flow: row;
        margin: 0 30px;

    }
    .carte2 {
        flex-direction: row;
        width: auto;
        height: 100%;
        grid-row: 2 / 2;
    }
    .img-cartes-pop {
        width: 40%;
    }
    .text-populaires {
        grid-template-rows: repeat(4, 50%);
        margin: 20px 100px;
    }
    .text-populaires > ul {
        grid-row: 4 / 4;
    }
    .hebergements-a-marseillle {
        margin: 40px;
    }
}
@media screen and (max-width: 1632px) {

    .populaires {
        height: 350px;
    }
    .text-populaires {
        grid-template-rows: repeat(4, 50%);
        margin: 20px 60px;
    }
    .text-populaires > ul {
        grid-row: 4 / 4;
    }
}
@media screen and (max-width: 1435px) {

    .populaires {
        height: 320px;
    }
    .text-populaires {
        grid-template-rows: repeat(4, 40%);
        margin: 20px 30px;
    }
    .text-populaires > ul {
        grid-row: 4 / 4;
    }
    @media screen and (max-width: 1385px) {

        /*.populaires {
            height: 320px;
        }
        .text-populaires {
            grid-template-rows: repeat(4, 40%);
            margin: 20px 30px;
        }
        .text-populaires > ul {
            grid-row: 4 / 4;*/
        }
}
