@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* pour enlever le gros/gras des cases du formulaire qaund on clique */
    outline: none;
}
h1, h2 {
    font-size: 1.3rem;
    font-weight: 900;
}
h3{
    font-size: 0.9rem;
    font-weight: 700;
}
h4{
    font-size: 1rem;
    font-weight: 700;
}
p{
    font-size: 0.9rem;
    margin: 10px 0;
}
a,
a:visited {
    color: black;
    text-decoration: none;
}
button {
    border: 1px solid #0065FC;
    color: white;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    display: inline-block;
    font: 500 0.9rem "Raleway";
    height: 50px;
}

button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-animation: flash 3s;
    animation: flash 1.2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
.cartes {
    transition: transform .1s;
}
.cartes:hover {
    transform: scale(1.1);
}

/* *************************************************************** */
body {
    font-family: "Raleway", sans-serif;
    margin: 0 40px;
}
.header {
    grid-area: header;
}
.trouver-hebergement {
    grid-area: trouver-hebergement;
}
.hebergements-a-marseillle {
    grid-area: hebergements-a-marseillle;
}
.populaires {
    grid-area: populaires;
}
.activités-a-marseille {
    grid-area: activités-a-marseille;
}
.footer {
    grid-area: footer;
}
.structure {
    display: grid;
    max-height: 100vh;
    max-width: 1300px;
    margin: auto;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    grid-template-areas: 
        "header                         header"              
        "trouver-hebergement            trouver-hebergement"                
        "hebergements-a-marseillle      populaires"              
        "activités-a-marseille          activités-a-marseille"
        "footer                         footer";
  }
header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . hébergements activités inscription";
    align-items: center;
    margin: 0px 0 0 40px;
}
.logo {
    display: flex;
    height: 50px;
    width: auto;
}
.nav li {
    display: inline-flex;
}
.hébergements {
    grid-area: hébergements;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 100px;
    color: #0065FC;
}
.activités {
    grid-area: activités;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 98px;
    color: #0065FC;
}
.activités:hover{
    border-top: 2px solid #0065FC;
    line-height: 100px;
    color: #0065FC;
}
.hébergements:hover{
    border-top: 2px groove #0065FC;
    line-height: 100px;
    color: #0065FC;
}
.inscription {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 0.85rem;
    font-weight: bold;
    height: 100px;
    color: #0065FC !important;
}
/******************* trouver-hebergement **********************/

.trouver-hebergement {
    margin: 0 0 0 40px;
}
.form {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    line-height: 2;
 
}
.icon-map a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border: 1px solid  #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
}

.label {
    display: none;
}
.recherche {
    border: 1px solid ;
    color: white;
    background: white;
    padding: 10px;
    font: 900 0.90rem "Raleway";
    width: 230px;
    height: 50px;
}
.filtres {
    display: flex;
    margin-top: 30px;
    width: 915px;
    
}
.titrefiltres {
    display: flex;
    align-items: center;
    font: 800 0.90rem "Raleway";
}
.buttonsearch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin-left: 35px;
    cursor: pointer;
}
.buttonsearch:hover {
    background: #DEEBFF;
    transition: 0.3s;
}
.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEEBFF;
    color: #0065FC;
    border: 1px solid  #DEEBFF;
    border-radius: 300px;
    width: 53px;
    height: 53px;
}
.texte-filtres {
    display: flex;
    font: 900 0.9rem "Raleway";
    margin: 10px 20px;
}
.footer-trouver-hebergement {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.icon-i {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #0065FC;
    border: 1px solid  #DEEBFF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
.texte-info {
    font-size: 0.8rem;
    margin-left: 10px;
}
/*************************** hebergements-a-marseillle ******************************/
.hebergements-a-marseillle {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin: 30px 8px 40px 0;
    border-radius: 20px;
    height: 600px;
    /*min-height: 400px;*/
}
.grid-hebergements-a-marseillle {
    display: grid;
    grid-template-columns: repeat(3,301px);
    grid-row: auto;
    align-items: center;
}
#Hébergements {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    margin: 30px 0px 0 30px;
}
.carte1 {
    width: 240px;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: white;
    justify-self: center;
}
.img-cartes {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 4px 4px 10px 4px;
    aspect-ratio: 2/1;
}
#imgcl {
    margin: 11px 18px 11px 30px;
}
#imgcc {
    margin: 11px 18px
}
#imgcr {
    margin: 11px 30px 11px 18px;
}
.text-card {
    margin: 0 20px;
    line-height: 15px;
}
.text-card > ul {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    color: #0065FC;
    letter-spacing: 1px;
}
.footer-hebergements-a-marseillle {
    margin: 34px 30px;
    font-weight: 900;
}
/********************************** Les plus populaires **********************************/

.container1{
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 30px 0 40px 8px;
    border-radius: 20px;
    background: #F2F2F2;
}
.title-populaires {
    display: flex;
    margin: 36px 35px 6px;
    align-items: center;
    justify-content: space-between;
}
.carte2 {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: auto;
    padding: 0px;
    margin: 15px 35px;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
}
.img-cartes-pop {
    float: left;
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px 4px 4px 4px;
    aspect-ratio: 1/1;
}
.text-populaires {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 0 0 0 30px;
}
.text-populaires > ul {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    padding: 17px 0 0;
    letter-spacing: 1px;
    color: #0065FC;
}
/****************************** Activités à Marseille **************************************/
.activités-a-marseille {
    display: flex;    
}
#Activités {

}
.activité-grid {
    width: auto;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45% 1fr;
    grid-auto-flow: column;
}
.carte3 {
    width: 290px;
    height: 430px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    grid-column: 1;
    grid-row: 1 / 3;
}
.carte3-2 {
    width: 290px;
    height: 430px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    grid-column: 3;
    grid-row: 1 / 3;
}
.img-carte3 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: none;
    aspect-ratio: 3/4;
}
.carte4 {
    width: 290px;
    height: 225px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    /*grid-column: 1;
    grid-row: 1 / span 5;*/
}
.img-carte4 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 8/5;
}
.carte5 {
    width: 290px;
    height: 160px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    /*grid-column: 1;
    grid-row: 1 / span 5;*/
}
.img-carte5 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 10/4;
}
.carte6 {
    width: 290px;
    height: 190px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    /*grid-column: 1;
    grid-row: 1 / span 5;*/
}
.img-carte6 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 2/1;
}
.carte6-2 {
    width: 290px;
    height: 190px;
    /*margin: 15px 35px;*/
    border-radius: 20px;
    border: 1px solid rgb(247, 3, 3);
    background: rgb(245, 3, 172);
    /*grid-column: 1;
    grid-row: 1 / span 5;*/
}
footer {

}
