@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
p{
    font-size: 0.9rem;
    margin: 10px 0;
}
a,
a:visited {
    color: black;
    text-decoration: none;
}
button {
    border: 1px solid transparent;
    color: white;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    display: inline-block;
    font: 500 0.9rem "Raleway";
    height: 50px;
}

button:hover {
    cursor: pointer;
    opacity: 1;
    animation: flash 1.2s;
}
@keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
.cartes {
    transition: transform 0.2s;
}
.cartes:hover {
    transform: scaleX(1.03) scaleY(1.08);
}
html {
    scroll-behavior: smooth;
  }

/* *************************************************************** */
body {
    font-family: "Raleway", sans-serif;
}
.header {
    grid-area: header;
}
.trouver-hebergement {
    grid-area: trouver-hebergement;
}
.hebergements-a-marseillle {
    grid-area: hebergements-a-marseillle;
}
.populaires {
    grid-area: populaires;
}
.activites-a-marseille {
    grid-area: activites-a-marseille;
}
.footer {
    grid-area: footer;
}
.structure {
    display: grid;
    margin: auto;
    grid-template-columns: 70% 1fr;
    gap: 3.5em;
    grid-template-areas: 
        "header                         header"              
        "trouver-hebergement            trouver-hebergement"                
        "hebergements-a-marseillle      populaires"           
        "activites-a-marseille          activites-a-marseille"
        "footer                         footer";
  }
header {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
    margin: 0 40px;
    grid-template-areas: "logo . nav1 nav2 inscription";
}
.logo {
    display: flex;
    height: 40px;
    width: auto;
    grid-column: 1;
    grid-row: 1;
}
.masternav {
    display: flex;
    width: 100%;
    grid-column: 3;
}
.nav1,.nav2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
}
.nav1:hover, .nav2:hover{
    border-top: 2px solid #0065FC;
    line-height: 100%;
    width: 50%;
}
.hebergements {
    margin: 0 35px;
}
.hebergements:hover, .activites:hover {
    color: #0065FC
}
.inscription {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-weight: bold;
    height: 100px;
    color: #0065FC !important;
    grid-column: 4;
}
/******************* trouver-hebergement **********************/

.trouver-hebergement {
    margin: 0 40px;
}
.form {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    line-height: 2;
 
}
.icon-map a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border: 1px solid  transparent;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
}

.label {
    display: none;
}
.recherche {
    border: 1px solid transparent;
    background: white;
    padding: 10px;
    font: 900 1rem "Raleway";
    width: 230px;
    height: 50px;
}
.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.titrefiltres {
    display: flex;
    align-items: center;
    font: 900 1.2rem "Raleway";
}
.buttonsearch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin: 15px 0 0 30px;
    cursor: pointer;
}
.buttonsearch:hover {
    background: #DEEBFF;
    transition: 0.3s;
}
.desktopnone {
    display: none;
}
.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEEBFF;
    color: #0065FC;
    border: 1px solid  transparent;
    border-radius: 300px;
    width: 53px;
    height: 53px;
}
.texte-filtres {
    display: flex;
    font: 900 1.2rem "Raleway";
    margin: 10px 20px;
}
.footer-trouver-hebergement {
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.icon-i {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #0065FC;
    border: 1px solid  #DEEBFF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
.texte-info {
    margin-left: 10px;
}
/*************************** hebergements-a-marseillle ******************************/

.hebergements-a-marseillle {
    display: grid;
    background-color: #F2F2F2;
    margin: 0 0 0 40px;
    border-radius: 20px;
}
.grid-hebergements-a-marseillle {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: auto;
    justify-content: center;
    gap: 2em;
    margin: 0 30px

}
#Hebergements {
    margin-top: 30px;
    font-weight: 900;
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}
.carte1 {
    width: 100%;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: white;
    justify-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-cartes {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 4px 4px 10px 4px;
    aspect-ratio: 2/1;
}
.text-card {
    margin: 0 20px;
    line-height: 15px;
}
.text-card > ul {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    color: #0065FC;
    letter-spacing: 1px;
}
.footer-hebergements-a-marseillle {
    margin: 20px 0 40px;
    font-weight: bold;
    font-size: 1.2em;
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}
/********************************** Les plus populaires **********************************/
.populaires {

    margin: 0 40px 0 0;
    padding: 0px 15px 40px;
    border-radius: 20px;
    background: #F2F2F2;
}
.container1 {
    display: grid;
    grid-template-rows: 1fr repeat(3, 30%);
    gap: 2em;
    margin: 0 30px;
}
.title-populaires {
    display: flex;
    margin: 30px 0 0;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/1;
    grid-row: 1/1;
}

.carte2 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 10%);
}
.grid-populaire {
    display: flex;
}
.img-cartes-pop {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 4px 4px 4px 4px;
}
.img-pop1, .img-pop3 {
    aspect-ratio: 2 / 2;
}
.img-pop2 {
    aspect-ratio: 4 / 4;
}
.text-populaires {
    margin: 10px 0 0 10px;
}
.texteprix {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}
.stars > ul {
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    letter-spacing: 1px;
    color: #0065FC;
}
/****************************** Activités à Marseille **************************************/
.activites-a-marseille {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}
#Activites {
    margin: 30px 0;
}
.activite-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 3em;
}
.carte3 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    grid-column: 1;
    grid-row: 1 / 4;
}
.carte3-2 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    grid-column: 3;
    grid-row: 1 / 4;
}
.img-carte3 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 6/8;
}
.carte4 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    grid-column: 2;
    grid-row: 1 / 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte4 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    aspect-ratio: 12/8;
}
.carte5 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    grid-column: 2;
    grid-row: 3 / 4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

}
.img-carte5 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 15/7;
}
.carte6 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    grid-column: 4;
    grid-row: 1 / 2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte6 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 2/1;
}
.carte6-2 {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    background: white;
    grid-column: 4;
    grid-row: 2 / 4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.img-carte6-2 {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 11/7;
}
.title-activites {
    margin: 10px 0 0 15px;
}
 /************************** FOOTER *****************************/
footer {
    display: flex;
    width: auto;
    background-color: #F2F2F2;
}
.container2 {
    display: flex;
    width: 1440px;
    height: auto;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    margin-left: 40px;
    line-height: 30px;
}  
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    line-height: 30px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: auto;
    line-height: 30px;
    margin-right: 40px;
}
.up {
    margin-bottom: 30px;
}   
@media all and (min-width: 1920px) and (max-width: 2560px) {
    .img-cartes-pop {
        width: 28%;
    }
    .img-pop2 {
        aspect-ratio: 3 / 5;
    }
}
@media screen and (max-width: 1440px) {
    .structure {
        grid-template-columns: 70% 1fr;
        grid-template-areas: 
        "header                         header"              
        "trouver-hebergement            trouver-hebergement"
        "populaires                     populaires"                
        "hebergements-a-marseillle      hebergements-a-marseillle"              
        "activites-a-marseille          activites-a-marseille"
        "footer                         footer";
    }
    .populaires {
        margin: 0 40px;
        padding: 0px 0 30px;
    }
    .container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr;
        margin: 0px 40px;
    }
    .title-populaires {
        grid-column: 1/4;
        grid-row: 1/1;
    }
    .grid-populaire {
        display: flex;
    }
    .img-cartes-pop {
        width: 40%;
    }
    .hebergements-a-marseillle {
        margin: 0 40px;
    }
    .activite-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .carte3 {
        width: 47%;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .carte3-2 {
        width: 47%;
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }
    .img-carte3 {
        height: 90%;
        aspect-ratio: 1 / 1;
    }
    .carte4 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .img-carte4 {
        height: 90%;
        aspect-ratio: 1 / 1;
    }
    .carte5 {
        grid-column: 3 / 3;
        grid-row: 1 / 2;
    }
    .img-carte5 {
        height: 90%;
        aspect-ratio: 1 / 1;
    }
    .carte6 {
        width: 100%;
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }
    .img-carte6 {
        height: 90%;
    }
    .carte6-2 {
        grid-column: 3 / 3;
        grid-row: 2 / 2;
    }
    .img-carte6-2 {
        height: 90%;
    }
}
@media screen and (max-width: 850px) {
    .titrefiltres {
        margin-right: 100%;
    }
    .buttonsearch {
        margin-left: 25px;
    }
    .populaires {
        margin: initial;
        width: 100%;
        border-radius: initial;
    }
    .container1 {
        display: flex;
        margin: 0px 40px;
        flex-direction: column;
    }
    .img-cartes-pop {
        width: 30%;
    }
    .hebergements-a-marseillle {
        display: flex;
        background-color: initial; 
    }
    .grid-hebergements-a-marseillle {
        display: flex;
        flex-direction: column;
        margin: initial;
    }
    .footer-hebergements-a-marseillle {
        margin: 20px 0 0;
    }
    #Activites {
        margin: 0 0 30px;
    }
    .activite-grid {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    .carte3 {
        width: 100%;
    }
    .carte3-2 {
        width: 100%;
    }
    .img-carte3 {
        aspect-ratio: 2/1;
    }
    .img-carte4 {
        aspect-ratio: 2/1;
    }
    .img-carte5 {
        aspect-ratio: 2/1
    }
    .img-carte6 {
        aspect-ratio: 2/1;
    }
    .img-carte6-2 {
        aspect-ratio: 2/1;
    }
}
@media screen and (max-width: 500px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        margin: 30px 0 0;
    }
    .logo {
        margin-left: 20px;
    }
    .masternav {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        margin-left: initial;
    }
    .nav1,.nav2 {
        margin: initial;
        height: 50px;
        border-bottom: 4px solid #F2F2F2;
    }
    .nav1:hover, .nav2:hover{
        border-bottom: 4px solid #0065FC;
        border-top: none;
        line-height: none;
        line-height: initial;
        width: 50%;
    }
    .inscription {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: initial;
        margin-right: 20px;
        grid-column: 2;
    }
    .recherche {
        width: 76%;
    }
    .texte-filtres {
        display: flex;
        font: 900 1rem "Raleway";
        margin: 10px 10px;
    }
    .trouver-hebergement {
        margin: 0 20px;
    }
    .container1 {
        margin: 0 10px 30px;
    }
    .hebergements-a-marseillle {
        margin: 0 20px;
    }
    #Hebergements {
        margin-top: 0px;
    }
    .activites-a-marseille {
        margin: 0 20px;
    }
    button {
        border-radius: 15px 15px;
        width: 50px;
    }
    .desktopnone {
        display: block;
    }
    .mobilenone {
        display: none;
    }
    .container2 {
        display: flex;
        width: 1440px;
        height: auto;
        flex-direction: column;
        margin-left: 40px;
        gap: 2em;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: initial;
        width: auto;
        margin: 40px 0 0;
        line-height: 30px;
    }
    .footer-center {
        height: initial;
    }
    .footer-right {
        height: initial;
    }
    .up {
        margin-bottom: 0px;
    }
}