@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* pour enlever le gros/gras des cases du formulaire qaund on clique */
    outline: none;
}
h1, h2 {
    font-size: 1.3rem;
    font-weight: 700;
}
h3{
    font-size: 0.8rem;
    font-weight: 700;
}
h4{
    font-size: 1rem;
    font-weight: 700;
}
p{
    font-size: 0.7rem;
    margin: 5px 0;
}
a,
a:visited {
    color: black;
    text-decoration: none;
}
button {
    border: 1px solid #0065FC;
    color: white;
    background: #0065FC;
    border-radius: 0px 12px 12px 0px;
    padding: 10px;
    display: inline-block;
    font: 500 0.9rem "Raleway";
}

/*button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-animation: flash 3s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.carte1,.carte2,.carte3,.carte4,.carte5,.carte6 {
    transition: transform .1s;
}
.carte1:hover,.carte2:hover,.carte3:hover,.carte4:hover,.carte5:hover,.carte6:hover {
    transform: scale(1.1);
}*/
.icon{
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    text-align: center;
    display: inline-block;
    display: flex;
}
/* *************************************************************** */
body {
    font-family: "Raleway", sans-serif;
    margin: 0 30px;
    }
.header {
    grid-area: header;
  }
  .nav {
      grid-area: nav;
  }
.section1 {
    grid-area: section1;
  }
.section2 {
    grid-area: section2;
  }
.section3 {
    grid-area: section3;
  }
.section4 {
    grid-area: section4;
  }
.footer {
    grid-area: footer;
  }
  .structure {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header nav"              
        "section1 section1"                
        "section2 section3"              
        "section4 section4"
        "footer footer";
  }
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.logo {
    height: 50px;
    width: auto;
}
.nav {
    display: inline-flex;
    align-items: center;
    margin-left: 50px;
    height: 100px;
}
.nav [data-active=true] {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: 10px;
}
/*.section1 {
    /*display: flex;
    flex-direction: row;

}
/*.section2 {
    /*display: flex;
    flex-direction: row;
    margin: 30px;
}*/
/*.section2 .a {
    width: 200px;
    height: 150;
}
.container1 {
    width: 100%;
    height: auto;
    background: #233183;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;

}
a
div.carte1 {
    border: 1px solid fuchsia;
    border-radius: 20px;
    height: 20px;
    width:50px;
    padding: 2px 2px 4px 2px;
    margin: 5px;
    background: white;
    text-align: center;
    display: table-cell;
     vertical-align: top;
    }
.img1 {
    max-height: 20%;
    width: auto;


}
.carte1 > div > ul {
    display: flex;
    flex-direction: row;
}*/
/*.section3 {
}
/*.container1{
    width: 30%;
    height: auto;
    background: #F2F2F2;
}
.carte2 {
    border: 1px solid fuchsia;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}*/
.section4 {
    display: flex;
    flex-direction: row;
}
footer {

}
